/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
* {
    box-sizing: border-box;
    outline: red dashed 1px;
	--card-color: rgba(0, 0, 0, 0.782);
	font-size: 1.5rem;
}
body {
	display: flex;
	flex-direction: column;
	align-items: center;

	background-image: url('./photos/background.jpg');
	background-size: cover;
	height: 100vh;
} 
img {
	height: 50px;
	width: auto;
}

.today {
	display: flex;
	background-color: var(--card-color);
	width: min(80vw, 1000px);
	font-size: 1.5rem;
}
.today .left-container {
	flex: 1;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.today .left-container .minmax{
	display: flex;
	gap: 1rem;
}
.today .right-container {
	flex: 2;
	display: flex;
	flex-direction: column;
	overflow: auto;
}
.today .right-container .info {
	display: flex;
	justify-content: space-evenly;
	padding: 1rem;
}
.today .right-container .info .text{
	display: flex;
	justify-content: center;
}
.today .right-container .hours {
	flex: 2;
	display: flex;
	overflow: auto;
}
.hours::-webkit-scrollbar {
    display: none;
}
.today .right-container .hours .card{
	display: flex;
	justify-content: center;
	align-content: center;
	flex-direction: column;
	height: 8rem;
	padding: 5px 1rem;
}
.card .sunset-sunrise-time {
	width: 7rem;
}
.card .hour-card-row {
	display: flex;
	justify-content: center;
}